@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-bkg: 226 232 240;
    --color-content: 39 39 42;
    --color-theme-btn-bg: 229 231 235;
    --color-theme-btn-text: 30 41 59;
    --color-theme-btn-border: 156 163 175;
    --color-theme-btn-active-bg: 87 83 78;
    --color-theme-btn-active-text: 244 244 245;
    --color-theme-btn-active-border: 214 211 209;
  }
  body[data-theme=light] {
    --color-bkg: 226 232 240;
    --color-content: 39 39 42;
    --color-theme-btn-bg: 229 231 235;
    --color-theme-btn-text: 30 41 59;
    --color-theme-btn-border: 156 163 175;
    --color-theme-btn-active-bg: 87 83 78;
    --color-theme-btn-active-text: 244 244 245;
    --color-theme-btn-active-border: 214 211 209;
  }
}
@layer base {
  @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg: 2 6 23;
      --color-content: 243 244 246;
    }
  }
  body[data-theme=dark] {
    --color-bkg: 2 6 23;
    --color-content: 243 244 246;
    --color-theme-btn-active-bg: 229 231 235;
    --color-theme-btn-active-text: 30 41 59;
    --color-theme-btn-active-border: 156 163 175;
    --color-theme-btn-bg: 87 83 78;
    --color-theme-btn-text: 244 244 245;
    --color-theme-btn-border: 214 211 209;
  }
}
@layer base {
  .tic-tac-width {
    @apply w-[90%] md:w-[60%] lg:max-w-[40rem];
  }
}
body {
  @apply bg-bkg text-content;
}

#root {
  @apply w-screen h-screen flex justify-center items-center;
}

@keyframes btn-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.btn {
  @apply flex px-6 py-2 font-semibold bg-content text-bkg rounded-lg cursor-pointer capitalize relative;
}
.btn:hover {
  @apply opacity-90;
}
.btn.btn-animate {
  @apply before:bg-bkg before:absolute before:h-full before:top-0 before:left-0 before:content-[""] before:opacity-10;
}
.btn.btn-animate:before {
  animation: btn-animation 1s ease-in-out infinite;
}
.btn.btn-reload {
  @apply w-[9rem] text-center;
}

.wrapper-div {
  @apply w-full flex flex-col items-center gap-8;
}
.wrapper-div .info-tab {
  @apply flex-wrap justify-center md:flex-nowrap tic-tac-width flex items-center min-h-[2.5rem];
  @apply gap-4 md:justify-between;
}
.wrapper-div .info-tab .info-p {
  @apply font-semibold;
  @apply w-full md:w-fit text-center md:text-left;
}
.wrapper-div .info-tab .winner-found {
  @apply text-blue-300;
  @apply w-full md:w-fit text-center md:text-left;
}
.wrapper-div .info-tab .winner-found.you-lost {
  @apply text-red-300;
}
.wrapper-div .info-tab .winner-found.you-win {
  @apply text-green-300;
}

.tic-tac-table {
  @apply tic-tac-width flex flex-col gap-4;
}
.tic-tac-table .tic-tac-table-body {
  @apply w-full flex flex-col gap-4;
}
.tic-tac-table .tic-tac-row {
  @apply flex w-full gap-4;
}
.tic-tac-table .tic-tac-cell {
  @apply border border-content w-[33%] font-bold text-2xl relative aspect-square rounded cursor-pointer;
  @apply transition-all delay-75;
}
.tic-tac-table .tic-tac-cell.type-O {
  @apply cursor-not-allowed;
}
.tic-tac-table .tic-tac-cell.type-X {
  @apply bg-content text-bkg cursor-not-allowed origin-center;
  transform: rotate3d(1, 0, 0, -90deg);
}
.tic-tac-table .tic-tac-cell.type-X.stop-animate-move-x {
  transform: rotate3d(0, 0, 0, 0deg);
}
.tic-tac-table .tic-tac-cell.type-X.type-Success {
  transform: rotate3d(0, 0, 0, 0deg) scale(110%);
}
.tic-tac-table .tic-tac-cell.type-X.type-Success.stop-animate-move-success {
  transform: rotate3d(0, 0, 0, 0deg) scale(100%);
}
.tic-tac-table .tic-tac-cell.type-X.type-Success.stop-animate-move-success .tic-tac-cell-value {
  @apply text-6xl;
}
.tic-tac-table .tic-tac-cell.type-X.type-Success.stop-animate-move-x {
  transform: rotate3d(0, 0, 0, 0deg) scale(110%);
}
.tic-tac-table .tic-tac-cell.type-X.type-Success.stop-animate-move-x.stop-animate-move-success {
  transform: rotate3d(0, 0, 0, 0deg) scale(100%);
}
.tic-tac-table .tic-tac-cell.type-X.type-Success.stop-animate-move-x.stop-animate-move-success .tic-tac-cell-value {
  @apply text-6xl;
}
.tic-tac-table .tic-tac-cell.type-Disabled {
  @apply cursor-not-allowed;
}
.tic-tac-table .tic-tac-cell.type-Error {
  @apply bg-red-300 text-red-600;
}
.tic-tac-table .tic-tac-cell.type-Success {
  @apply bg-green-300 text-white scale-110;
}
.tic-tac-table .tic-tac-cell.type-Success.stop-animate-move-success {
  @apply scale-100;
}
.tic-tac-table .tic-tac-cell.type-Success.stop-animate-move-success .tic-tac-cell-value {
  @apply text-6xl;
}
.tic-tac-table .tic-tac-cell .tic-tac-cell-span {
  @apply absolute top-2 right-2 text-xs text-white hidden;
  @apply delay-75;
  transition: font-size;
}
.tic-tac-table .tic-tac-cell .tic-tac-cell-value {
  @apply flex justify-center items-center w-full h-full text-3xl;
}

.input-row {
  @apply flex flex-col md:flex-row gap-4;
}
.input-row .level-selection-div label {
  @apply btn;
}
.input-row .level-selection-div label input {
  @apply invisible h-0 w-0;
}

.dropdown-container {
  @apply relative;
}
.dropdown-container .dropdown {
  @apply absolute z-20;
}

.dropdown-container-app-level-selector-box {
  @apply relative;
}
.dropdown-container-app-level-selector-box .dropdown-app-level-selector-box {
  @apply absolute top-16 left-0 bg-content py-2 rounded-xl;
}
.dropdown-container-app-level-selector-box .dropdown-app-level-selector-box .input-row {
  @apply flex flex-col gap-1;
}
.dropdown-container-app-level-selector-box .dropdown-app-level-selector-box .input-row label {
  @apply w-full transition-all;
}
.dropdown-container-app-level-selector-box .dropdown-app-level-selector-box .input-row label:hover {
  @apply bg-bkg text-content opacity-100 rounded-none;
}

/*# sourceMappingURL=output.css.map */
