@layer  base {

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg: 2 6 23;
      --color-content: 243 244 246;

    }
  }

  body[data-theme="dark"] {
    --color-bkg: 2 6 23;
    --color-content: 243 244 246;

    --color-theme-btn-active-bg: 229 231 235;
    --color-theme-btn-active-text: 30 41 59;
    --color-theme-btn-active-border: 156 163 175;

    --color-theme-btn-bg: 87 83 78;
    --color-theme-btn-text: 244 244 245;
    --color-theme-btn-border: 214 211 209;
  }

}
